@import "colours";
@import "header";

.clear {
    clear: both;
}

table {
    th {
        padding-bottom: 10px;
        padding-top: 10px;
        background: $light_purple;
        border: 1px solid $purple;
    }

    td.filter {
        border: none;
        padding: 10px;
    }

    td {
        border: 1px solid $purple;
        padding-bottom: 0;
        vertical-align: top;
    }

    a {
        color: black;
        display: block;
        text-decoration: none;
    }

    .time_filter {
        float: right;
        font-size: 14px;
        margin-right: 15px;
    }

    .pagination {
        float: right;
        font-size: 14px;
    }

    .button_group {
        font-size: 0;

        a,span {
            border: 2px solid $medium_dark_purple;
            background: white;
            color: inherit;
            display: inline-block;
            font-weight: 900;
            font-size: 14px;
            padding: 5px;

            &.first {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }

            &.last {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }

            &.selected {
                background: $purple;
                color: white;
            }

            &.disabled {
                color: #888;
            }
        }
    }
}

.weather_reading {
    padding: 10px 10px 0 10px;

    .icon {
        float: right;
        width: 80px;
    }

    .temperature {
        float: left;
        font-size: 1.5em;
    }

    .humidity {
        clear: left;
    }

}

.comments.button {
    border: 2px solid $orange;
    border-radius: 5px;
    color: $very_dark_purple;
    clear: right;
    font-family: fantasy;
    font-weight: 900;
    float: right;
    padding: 0 5px;
    position: relative;
    margin: 5px 5px 10px 10px;

    &:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        right: 2px;
        bottom: -8px;
        border: 4px solid;
        border-color: $orange $orange transparent transparent;
    }

    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        right: 4px;
        bottom: -4px;
        border: 3px solid;
        border-color: white white transparent transparent;
    }
}

.powered_by_yahoo {
    display: inline-block;
}
